<!DOCTYPE html>
<html>
<!-- {% include head.html %}-->
<head>
	<meta name="p:domain_verify" content="dca3e02159a2ff6624ea9feefa8197f2"/>
	<meta charset="utf-8">
	<title>Craziness this World entails</title>
	<!-- A <meta> viewport element gives the browser instructions on how to control the page's dimensions and scaling. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Define keywords for search engines-->
	<meta name="keywords" content="Motherhood, Baby, Pregnancy, Humor, Fun, Funny, Hiliarious ">
	<!-- Define a description of your web page -->
	<meta name="description" content="Motherhood Hiliarious Memes">
	<meta name="author" content="Navita Jain">

	<!--Custom CSS-->
 	<link href="./css/index.css" type="text/css" rel="stylesheet">

 	<!--Google Analytics-->
 	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134760242-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-134760242-1');
	</script>


</head>
<body class="site">
	<div class="site-wrap">
		<h1 class="site-name">
			<a:link href="https://crazinessthisworldentails.com" class="site-title">CrazinessThisWorldEntails</a>
		</h1>
		<nav class="site-nav">
			<ul>
				<li class="active">
					<a href="/">Memes</a>
				</li>
				<li class="inactive">
					<a href="/soemthing">About Me</a>
				</li>
			</ul>
			<!--<span></span>-->
		</nav>
	</div>
	<!--<div class="site-wrap center">
		{% include header.html %}
	</div>	-->

	<div class="measure">
		<div class="posts">
		<div class="post-header py2">
			<p class="post-meta">You know - you are so pregnant when you can only sleep on your sides!! </p>
			<img src="./images/MissSleepOnStomach.png" alt="Miss Sleep on Stomach" title="Miss Sleep on Stomach" />
			<!--
				<img src="/images/bg-wide.png" data-src="https://content.11route.com/posts/2018/fiji/cover-2000.jpg" alt="Vacation in Pacific Paradise" title="Vacation in Pacific Paradise" />
			-->
		</div>

		<hr>

		<div class="post-header py2">
			<p class="post-meta">You know - your gonna have a naughty baby when the poor Dad doesn't gets to feel the kicks!! </p>
			<img src="./images/BabyKicks.png" alt="Baby Kicks" title="Baby Kicks" />
		</div>

		<hr>

		<div class="post-header py2">
			<p class="post-meta">You know - you are screwed when labor pain and child birth is an adventure for your husband :P :P </p>
			<img src="./images/AdventureDuringLabor.png" alt="Adventure during Labor" title="Adventure during Labor" />
		</div>

		<hr>

		<div class="post-header py2">
			<p class="post-meta">Breastfeeding sessions be like </p>
			<img src="./images/BreastfeedingSession-1.png" alt="Breastfeeding Bites" title="Breastfeeding Bites" />
		</div>

		<hr>

		<div class="post-header py2">
			<p class="post-meta">Who says babies can't express, those innocent and grin on restricted stuff 😈!! </p>
			<img src="./images/ANoIsAMust-MustIsANo.png" alt="A No is a must and a must is a runaway" title="A No is a Must and a Must is a No" />
		</div>

		<hr>
		
		</div>
	</div>
	

	<!-- Trigger/JumpToTop Modal -->
	<button onclick="jumptoTopFunction()" id="jumpBtn" title="Go to top">Top</button>



	<!--{% include footer.html %}-->
	<footer>
  		<div class="measure">
  			<small>
      		© 2019 by
      		<a:link href="/" target="_blank">Navita Jain</a>
      		<br/>
      		<a href="mailto:navita.jain01@gmail.com" target="_blank">Contact</a>
      		<a href="https://github.com/navitajain/navitajain.github.io" target="_blank">GitHub</a>
      		</small>
  		</div>
  	</footer>


  	<!--Scripts-->
  	<script type="text/javascript" src="./js/JumpToTopModalBtn.js"></script>
</body>
</html>
