<!DOCTYPE html>
<html>
<!-- {% include head.html %}-->
<head>
	<meta charset="utf-8">
	<title>Craziness this World entails</title>
	<!-- A <meta> viewport element gives the browser instructions on how to control the page's dimensions and scaling. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Define keywords for search engines-->
	<meta name="keywords" content="Motherhood, Baby, Pregnancy, Humor, Fun, Funny, Hiliarious ">
	<!-- Define a description of your web page -->
	<meta name="description" content="Motherhood Hiliarious Memes">
	<meta name="author" content="Navita Jain">

	<!--Custom CSS-->
 	<link href="./css/index.css" type="text/css" rel="stylesheet">


</head>
<body class="site">
	<div class="site-wrap">
		<h1 class="site-name">
			<a href="https://crazinessthisworldentails.com" class="site-title">CrazinessThisWorldEntails</a>
		</h1>
		<nav class="site-nav">
			<ul>
				<li class="active">
					<a href="/">Memes</a>
				</li>
				<li class="inactive">
					<a href="/soemthing">About Me</a>
				</li>
			</ul>
			<span></span>
		</nav>
	</div>
	<!--<div class="site-wrap center">
		{% include header.html %}
	</div>	-->

	<div class="measure">
		<div class="posts">
		<div class="post-header py2">
			<p class="post-meta">When you are so pregnant that only sides are the positions you can sleep on!! 
			<br /></p>
			<img src="./images/MissSleepOnStomach.png" alt="Miss Sleep on Stomach" title="Miss Sleep on Stomach" />
			<!--
				<img src="/images/bg-wide.png" data-src="https://content.11route.com/posts/2018/fiji/cover-2000.jpg" alt="Vacation in Pacific Paradise" title="Vacation in Pacific Paradise" />
			-->
		</div>

		<hr />

		<div class="post-header py2">
			<p class="post-meta">Write soemthing about meme 2</p>
			<img src="./images/Img2.jpg" alt="title of Image" title="Give title to Image" />
		</div>

		<hr />

		<div class="post-header py2">
			<p class="post-meta">Write soemthing about meme 3</p>
			<img src="./images/Img4.jpg" alt="title of Image" title="Give title to Image" />
		</div>


		</div>

		<hr />

		<div class="post-header py2">
			<p class="post-meta">Write soemthing about meme 3</p>
			<img src="./images/Img5.jpg" alt="title of Image" title="Give title to Image" />
		</div>


		</div>
	</div>
	

	<!-- Trigger/JumpToTop Modal -->
	<button onclick="jumptoTopFunction()" id="jumpBtn" title="Go to top">to Top</button>



	<!--{% include footer.html %}-->
	<footer>
  		<div class="measure">
  			<small>
      		© 2019 by
      		<a:link href="/" target="_blank">Navita Jain</a>
      		<br/>
      		<a href="mailto:navita.jain01@gmail.com" target="_blank">Contact</a>
      		<a href="{{ site.blog_github }}" target="_blank">GitHub</a>
      		</small>
  		</div>
  	</footer>


  	<!--Scripts-->
  	<script type="text/javascript" src="./js/JumpToTopModalBtn.js"></script>
</body>
</html>
