<html>
<head>
	<!--Custom CSS-->
 	<link href="./css/index.css" type="text/css" rel="stylesheet">
</head>
<body class="site">
	<div class="site-wrap">
		<h1 class="site-name">
			<a:link class="site-title">Technical</a>
		</h1>
		<nav class="site-nav">
			<ul>
				<li class="inactive">
					<a href="/soemthing">About Me</a>
				</li>
				<!-- Include TechnicalStuff html file -->
				<li class="active">
					<a href="./technicalStuff.html">Technical Stuff </link>
					<!--<a href="./_includes/technicalStuff.html">Technical Stuff</a>-->
				</li>
				<li class="active">
					<a href="./memes.html">Memes</a>
				</li>
				
			</ul>
			<!--<span></span>-->
		</nav>
	</div>
	<!--<div class="site-wrap center">
		{% include header.html %}
	</div>	-->

	<!--Algo and DS Probs 
	==================================  -->
	<section id="algo">
		<h2>
			Algorithm and Data Structure Problems
		</h2>		
		<div class="row">
  			<div class="column">Array</div>
  			 	<div class="pullData"></div>
  			<div class="column">Strings</div>
  			<div class="column">Math</div>
  		</div>
  		<div class="row"> 
  			<div class="column">Dynamic Programming</div>
  			<div class="column">Recursion</div>
		</div>
	</section>
	<!-- end of Algo and DS probs -->

	
	<section id="ML">
		<h2>
			Data Science/Machine Learning
		</h2>
	
		
	</section>	




	<!-- Trigger/JumpToTop Modal -->
	<button onclick="jumptoTopFunction()" id="jumpBtn"><img src="./images/NavToTop.png"  height="32" width="32"></button>



	<!--{% include footer.html %}-->
	<footer>
  		<div class="measure">
  			<small>
      		© 2019 by
      		<a:link href="/" target="_blank">Navita Jain</a>
      		<br/>
      		<a href="mailto:navita.jain01@gmail.com" target="_blank">Contact</a>
      		<a href="https://github.com/navitajain/navitajain.github.io" target="_blank">GitHub</a>
      		</small>
  		</div>
  	</footer>


  	<!--Scripts-->
  	<script type="text/javascript" src="./js/JumpToTopModalBtn.js"></script>
</body>
</html>
