<head>
	<meta charset="utf-8">
	<title>Craziness this World entails</title>
	<!-- A <meta> viewport element gives the browser instructions on how to control the page's dimensions and scaling. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Define keywords for search engines-->
	<meta name="keywords" content="Motherhood, Baby, Pregnancy, Humor, Fun, Funny, Hiliarious ">
	<!-- Define a description of your web page -->
	<meta name="description" content="Motherhood Hiliarious Memes">
	<meta name="author" content="Navita Jain">

	<!--Custom CSS-->



	<!--Icons-->
	<link rel="icon" type="image/png" href="/Drawings/Img1.jpg" sizes="196x196">

</head>