<div class="measure">
	<div class="posts">
		<div class="post-header py2">
			<p class="post-meta">You know - you are so pregnant when you can only sleep on your sides!! </p>
			<img src="./images/MissSleepOnStomach.png" alt="Miss Sleep on Stomach" title="Miss Sleep on Stomach" />
			<!--
				<img src="/images/bg-wide.png" data-src="https://content.11route.com/posts/2018/fiji/cover-2000.jpg" alt="Vacation in Pacific Paradise" title="Vacation in Pacific Paradise" />
			-->
		</div>

		<hr>
	</div>
</div>
